### Uber Pickups Analysis Quiz

The question set is based on the August dataset, `uber-raw-data-aug14.csv`.

#### Keeping the dataset ready before questions

In [1]:
import pandas as pd

df = pd.read_csv('./data/uber-raw-data-aug14.csv')
df.head()

          Date/Time      Lat      Lon    Base
0  8/1/2014 0:03:00  40.7366 -73.9906  B02512
1  8/1/2014 0:09:00  40.7260 -73.9918  B02512
2  8/1/2014 0:12:00  40.7209 -74.0507  B02512
3  8/1/2014 0:12:00  40.7387 -73.9856  B02512
4  8/1/2014 0:12:00  40.7323 -74.0077  B02512

#### Q1. On what date did we see the most number of Uber pickups?

**Skill Test:** Grouping & Counting

In [1]:
# Convert the 'Date/Time' column to datetime format


# Group by date and count the number of pickups


# Find the date with the highest number of pickups

#### Q.2 How many Uber pickups were made on the date with the highest number of pickups?

**Skill Test:** Indexing and filtering

In [2]:
# Filter the DataFrame to include only the rows for the date with the highest number of pickups


# Get the count of pickups on the highest date

#### Q.3 How many unique TLC base companies are affiliated with the Uber pickups in the dataset?

**Skill Test:** Counting unique values

In [3]:
# Count the number of unique TLC base companies

#### Q.4 Which TLC base company had the highest number of pickups?

**Skill Test:** Grouping, counting, and finding the maximum

In [4]:
# Group by TLC base company and count the number of pickups


# Find the TLC base company with the highest number of pickups

#### Q.5 How many Uber pickups were made at each unique TLC base company?

**Skill Test:** Grouping and counting

In [5]:
# Group by TLC base company and count the number of pickups

#### Q.6 Can you determine the busiest time of day for Uber pickups based on the date/time column?

**Skill Test:** Extracting time components, grouping, counting, and finding the maximum

In [6]:
# Extract the hour from the 'Date/Time' column


# Group by hour and count the number of pickups


# Find the hour with the highest number of pickups

#### Q.7 Can you create a visualization (e.g., a bar chart or line plot) to represent the number of Uber pickups over time?

**Skill Test:** Data Visualization using Plotting function

In [7]:
import matplotlib.pyplot as plt

# Group by date and count the number of pickups


# Create a line plot to visualize the number of pickups over time

#### Q8. Can you create a scatter plot to visualize the distribution of Uber pickups based on latitude and longitude?

**Skill Test:** Scatter Plot

In [8]:
# Create a scatter plot to visualize the distribution of Uber pickups based on latitude and longitude

#### Q9. Can you create a bar chart to compare the number of Uber pickups for each TLC base company?

**Skill Test:** Bar Chart

In [9]:
# Create a bar chart to compare the number of Uber pickups for each TLC base company

#### Q10. Can you create a pie chart to display the percentage distribution of Uber pickups for each day of the week?

**Skill Test:** Pie Chart

In [10]:
# Group by day of the week and count the number of pickups


# Create a pie chart to display the percentage distribution of Uber pickups for each day of the week